.header {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
}

.header h1 {
  font-weight: bold;
  margin: 0;
}

.container {
  padding: 20px;
}

.add-book-form {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.lists {
  display: flex;
  justify-content: space-between;
}

.books-list, .borrowed-books-list {
  width: 45%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

button {
  cursor: pointer;
}
